[Unit]
Description=ProxLB - A loadbalancer for Proxmox clusters
After=network-online.target pveproxy.service
Wants=network-online.target pveproxy.service

[Service]
Environment="REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt"
ExecStart=/opt/venvs/proxlb/bin/python3 -m proxlb -c /etc/proxlb/proxlb.yaml
User=plb
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
