name: Code linting
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.9
          - 3.11
          - 3.12
          - 3.13
          - 3.14
    steps:
      - uses: actions/checkout@v3
      - name: Setup dependencies for code linting
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install additional dependencies for code linting
        run: |
          python3 -m venv .venv
          ./.venv/bin/pip3 install --upgrade pip
          ./.venv/bin/pip3 install .
          ./.venv/bin/pip3 install mypy pytest pytest-mypy pytest-pycodestyle pytest-ty types-PyYAML types-requests types-setuptools
      - name: Run code linting on ProxLB Python code
        run: ./.venv/bin/py.test --mypy --pycodestyle --ty --cache-clear -vv
