name: Build Container Image

on:
  push:
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    # Use 'pull-request' environment on PRs to prevent running Actions from non-maintainer
    environment: ${{ github.event_name == 'pull_request' && 'pull-request' || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # We need to lowercase "ProxLB" to be able to push to registry
      - name: Repository Name to lowercase
        id: lowercase
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: return `${context.repo.owner}/${context.repo.repo}`.toLowerCase()

      - name: Login to GHCR
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ steps.lowercase.outputs.result }}:${{ github.ref_name }}
            ghcr.io/${{ steps.lowercase.outputs.result }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
